.canvas {
  position: relative;

  &--main {
    display: block;
    background: black;
  }

  &--overimposed {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.is-selected {
  background: steelblue;
}
