.canvas {
  position: relative;

  &--main {
    display: block;
    background: black;
  }

  &--overimposed {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__menu {
    float: left;
  }

  &__clear {
    margin-top: 5px;
    float: right;
  }
}
