<section>
  <main class="canvas">
    <canvas
      #canvas
      class="canvas--main"
      width="{{ width }}"
      height="{{ height }}">
    </canvas>

    <ng-container *ngIf="selectedType === 'line'">
      <app-draw-lines
        class="canvas--overimposed"
        [color]="userStrokeStyle"
        [width]="width"
        [height]="height"
        [clearEvents]="clearSubject.asObservable()"
        (transferLines)="transferShapes($event)">
      </app-draw-lines>
    </ng-container>

    <ng-container *ngIf="selectedType === 'circle'">
      <app-draw-circles
        class="canvas--overimposed"
        [color]="userStrokeStyle"
        [width]="width"
        [height]="height"
        [clearEvents]="clearSubject.asObservable()"
        (transferCircles)="transferShapes($event)">
      </app-draw-circles>
    </ng-container>

    <ng-container *ngIf="selectedType === 'square'">
      <app-draw-squares
        class="canvas--overimposed"
        [color]="userStrokeStyle"
        [width]="width"
        [height]="height"
        [clearEvents]="clearSubject.asObservable()"
        (transferSquares)="transferShapes($event)">
      </app-draw-squares>
    </ng-container>
  </main>

  <footer>
    <div class="canvas__menu">
      <app-color-picker
        [color]="userStrokeStyle"
        (colorUpdated)="updateColor($event)">
      </app-color-picker>

      <button
        mat-icon-button
        color="{{ selectedType === 'line' ? 'accent' : 'primary' }}"
        disableRipple="true"
        aria-label="Draw a line"
        (click)="updateShape('line')">
        <mat-icon>gesture</mat-icon>
      </button>

      <button
        mat-icon-button
        color="{{ selectedType === 'circle' ? 'accent' : 'primary' }}"
        disableRipple="true"
        aria-label="Draw a circle"
        [class.is-selected]="selectedType === 'circle'"
        (click)="updateShape('circle')">
        <mat-icon>radio_button_unchecked_icon</mat-icon>
      </button>

      <button
        mat-icon-button
        color="{{ selectedType === 'square' ? 'accent' : 'primary' }}"
        disableRipple="true"
        aria-label="Draw a square"
        [class.is-selected]="selectedType === 'square'"
        (click)="updateShape('square')">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
    </div>
    
    <div class="canvas__clear">
      <button
        mat-raised-button
        color="secondary"
        (click)="clear()">
        Clear
      </button>
    </div>
  </footer>
</section>
