<section>
  <main class="canvas">
    <canvas
      #canvas
      class="canvas--main"
      width="400"
      height="400">
    </canvas>

    <ng-container *ngIf="selectedType === 'line'">
      <app-draw-lines
        class="canvas--overimposed"
        [color]="userStrokeStyle"
        [clearEvents]="clearSubject.asObservable()"
        (transferLines)="transferShapes($event)">
      </app-draw-lines>
    </ng-container>

    <ng-container *ngIf="selectedType === 'circle'">
      <app-draw-circles
        class="canvas--overimposed"
        [color]="userStrokeStyle"
        [clearEvents]="clearSubject.asObservable()"
        (transferCircles)="transferShapes($event)">
      </app-draw-circles>
    </ng-container>
  </main>

  <footer>
    <button (click)="clear()">Clear</button>

    <button
      [class.is-selected]="selectedType === 'line'"
      (click)="updateShape('line')">
      Line
    </button>
  
    <button
      [class.is-selected]="selectedType === 'circle'"
      (click)="updateShape('circle')">
      Circle
    </button>
  
    <app-color-picker
      [color]="userStrokeStyle"
      (colorUpdated)="updateColor($event)">
    </app-color-picker>
  </footer>
</section>
